**/.vscode/
**/.DS_Store
**/.env
**/.idea/
**/.pytest_cache/
**/.pytest_cache/v/cache/lastfailed
**/.pytest_cache/v/cache/nodeids
**/.pytest_cache/v/cache/stepwise
**/.pytest_cache/v/cache/stepwise

.playwright-mcp