body {
    font-family: Arial, sans-serif;
    background-color: #2c2c2c; /* Fundo escuro suave */
    color: #e0e0e0; /* Texto claro */
    padding: 50px;
    text-align: left;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    background: #333;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    border-radius: 10px;
}
a {
    color: #00bfff;
    text-decoration: none;
}

a:hover {
    color: #fff;
}

h1, h2, h3 {
    text-align: center;
    color: #ffffff;
}

pre {
    background: #444;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}

code {
    font-family: Consolas, "Courier New", monospace;
    color: #fbfbfc;
}

table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
    text-align: left;
}

th, td {
    padding: 12px;
    border: 1px solid #555;
}

th {
    background-color: #00bfff;
    color: #333;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    font-family: Arial, sans-serif;
    position: relative;
    bottom: 0;
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    background: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    border-radius: 10px;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.footer-content p {
    margin: 0;
    padding: 0 10px;
    font-size: 1em;
}

.footer-content a {
    color: #00bfff;
    text-decoration: none;
    padding: 0 10px;
    font-size: 1.1em;
    transition: color 0.3s;
}

.footer-content a:hover {
    color: #fff;
}
.footer-logo {
    padding: 0 10px;
}

.footer-logo img {
    max-height: 60px; /* Ajuste o tamanho conforme necessário */
}
.copy-icon {
    cursor: pointer;
    margin-left: 10px;
    font-size: 16px;
    color: #007bff;
}
.copy-icon-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copy-message {
    color: rgb(92, 204, 92);
    font-size: 14px;
    display: none;
    margin-left: 10px;
    text-align: right;
}

.custom-logo {
    font-size: 24px;
    font-weight: bold;
    color: var(--text-color);
    text-align: center;
    margin: 20px 0;
  }
  
  .custom-logo img {
    max-width: 150px;
    margin-bottom: 10px;
  }